$__buds--box-bg-color: --buds-box-bg-color !default;
$__buds--box-border-radius: --buds-box-border-radius !default;
$__buds--box-box-shadow: --buds-box-box-shadow !default;

$__buds--box-padding: --buds-box-padding !default;
$__buds--box-vertical-padding: --buds-box-vertical-padding !default;
$__buds--box-horizontal-padding: --buds-box-horizontal-padding !default;

$__buds--box-siblings-space: --buds-box-siblings-space !default;

$__buds--box-header-height: --buds-box-header-height !default;
$__buds--box-footer-height: --buds-box-footer-height !default;
